#--extra-index-url https://forge.frm2.tum.de/simple
mlzlog >=0.2.0
# for generating docu
markdown>=2.6
# daemonizing
psutil
python-daemon >=2.0
# for zmq interface
#pyzmq>=13.1.0
# for test suite
pytest
