[node ccidu1]
description = [sim] ccidu box of MLZ Sample environment group
	.
	Controls an 3He/4He dilution insert with an ls370 and an PLC controlling
        the compressor and the valves of the gas handling.

.meaning={'T_regulation':{'T_ccidu1':300}, 'T_sample':{'T_ccidu1_A':300, 'T_ccidu1_B':280}}

[interface tcp]
type=tcp
bindto=0.0.0.0
bindport=10767

[module T_ccidu1]
class=secop.simulation.SimDrivable
.description=Main temperature control node of ccidu1.
	.
	Controls the regulation loop of the ls370.
value.unit='K'
value.default=300
target.datatype=["double", 0, 300]
target.default=300
target.unit='K'
.extra_params=ramp
ramp.datatype=["double",0,600]
ramp.description=target ramping speed in K/min.
ramp.default=60
ramp.unit=K/min

[module T_ccidu1_A]
class=secop.simulation.SimReadable
.description=mixing chamber temperature sensor. Also used for the regulation.
.visibility=expert
value.default=300
value.unit='K'

[module T_ccidu1_B]
class=secop.simulation.SimReadable
.description=(optional) sample temperature sensor close to sample.
.visibility=expert
value.default=300
value.unit='K'

[module ccidu1_pstill]
class=secop.simulation.SimReadable
.description=Pressure at the still/turbo pump inlet.
.visibility=expert
value.default=999
value.unit=mbar

[module ccidu1_pinlet]
class=secop.simulation.SimReadable
.description=Pressure at forepump inlet/turbo pump outlet.
.visibility=expert
value.default=999
value.unit=mbar

[module ccidu1_poutlet]
class=secop.simulation.SimReadable
.description=Pressure at forepump outlet/compressor inlet.
.visibility=expert
value.default=999
value.unit=mbar

[module ccidu1_pkond]
class=secop.simulation.SimReadable
.description=Pressure at condensing line/compressor outlet.
.visibility=expert
value.default=999
value.unit=mbar

[module ccidu1_ptank]
class=secop.simulation.SimReadable
.description=Pressure in dump tank.
.visibility=expert
value.default=999
value.unit=mbar

[module ccidu1_pvac]
class=secop.simulation.SimReadable
.description=Pressure in the vacuum dewar (ivc).
.visibility=expert
value.default=999
value.unit=mbar

[module ccidu1_flow]
class=secop.simulation.SimReadable
.description=Gas Flow (condensing line).
.visibility=expert
value.default=999
value.unit=mln/min

# note: all valves and switches are missing: use VNC to control them

