Source: frappy-core
Section: contrib/misc
Priority: optional
Maintainer: Enrico Faulhaber <enrico.faulhaber@frm2.tum.de>
Build-Depends: debhelper (>= 11~),
 dh-python,
 python3 (>=3.6),
 python3-all,
 python3-setuptools,
 python3-docutils,
 python3-sphinx,
 python3-sip-dev,
 python3-pyqt5,
 python3-mlzlog,
 python3-numpy,
 python3-psutil (>= 0.4),
 python3-pytest,
 python3-serial,
 python3-systemd,
 git,
 markdown,
 python3-daemon
Standards-Version: 4.1.4
X-Python3-Version: >= 3.6

Package: frappy-core
Architecture: all
Depends: python3 (>= 3.6),
 ${misc:Depends},
 ${python3:Depends},
 python3-setuptools,
 python3-numpy,
 python3-serial,
 python3-psutil (>= 0.4),
 python3-mlzlog,
 markdown,
 python3-daemon
Replaces: secop-core (<= 0.14.3)
Breaks: secop-core (<= 0.14.3)
Description: Frappy SECoP core system
 contains the core server and client libraries and the server binary
 as well as the systemd integration

#Package: frappy-doc
#Architecture: all
#Section: doc
#Depends: ${sphinxdoc:Depends},
# ${misc:Depends}
#Description: Frappy SECoP docu
# This is the documentation to all the frappy-* packages

Package: frappy-gui
Architecture: all
Depends: frappy-core,
 ${misc:Depends},
 ${python3:Depends},
 python3-pyqtgraph (>=0.11.0),
 python3-pyqt5 (>=5)
Replaces: secop-gui (<= 0.14.3)
Breaks: secop-gui (<= 0.14.3)
Description: Frappy SECoP gui client + cfgtool
 contains the GUI client and the configurator

Package: frappy-ess
Architecture: all
Depends: frappy-core,
 ${misc:Depends},
 ${python3:Depends}
Replaces: secop-ess (<= 0.14.3)
Breaks: secop-ess (<= 0.14.3)
Recommends: frappy-gui
Description: SECoP ess files
 Modules specific for ESS

Package: frappy-mlz
Architecture: all
Depends: frappy-core,
 ${misc:Depends},
 ${python3:Depends},
 python3-tango (>=9)
Replaces: secop-mlz (<= 0.14.3)
Breaks: secop-mlz (<= 0.14.3)
Recommends: frappy-gui
Description: SECoP mlz files
 Modules specific for MLZ

Package: frappy-psi
Architecture: all
Depends: frappy-core,
 ${misc:Depends},
 ${python3:Depends}
Replaces: secop-psi (<= 0.14.3)
Breaks: secop-psi (<= 0.14.3)
Recommends: frappy-gui
Description: SECoP psi files
 Modules specific for PSI
