#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# needed for bookworm compatibility!
override_dh_installsystemd:
	ln -s usr/lib debian/frappy-core/lib
	dh_installsystemd
	rm debian/frappy-core/lib

%:
	dh $@ --with python3 --buildsystem=pybuild
